build
.DS_Store
lib
build
.libs
*.lo*
mastodon-*
.previous_test_results.json
include/base/MastodonRevision.h
unit/include/base/Mastodon-unitRevision.h
yaml_dump_mastodon-*
syntax_dump_mastodon-*
*.e
*.e-s*
*.csv
*.vtk
*.vtu
*.pvtu
*.png
peacock_run_exe_tmp.i
*.*~*
.failed_tests
*.processor.*

# Python
*.py
*.pyc
!python/**/*.py

# Allow certain files in gold directories
!**/gold/*.e
!**/gold/*.e-s*
!**/gold/*.csv
!**/gold/*.vtk
!**/gold/*.vtu
!**/gold/*.pvtu

# Don't include doc/js or doc/css, these are copied from MOOSE
doc/js
doc/css/*

# Ignore generated documentation
*.moose.md
*.moose.yml
*.moose.svg
site

# Doxygen
doc/doxygen/html

# Allow images in media directory
!doc/content/media/**/*.png

# Allow CSV in data directory
!tests/data/**/*.csv
