.DS_Store
lib
.libs
*.lo*
mastodon-*
include/base/MastodonRevision.h
yaml_dump_mastodon-*
syntax_dump_mastodon-*
*.e
*.e-s*
*.csv
*.vtk
*.vtu
*.pvtu
*.png
peacock_run_exe_tmp.i

# Allow certain files in gold directories
!**/gold/*.e
!**/gold/*.e-s*
!**/gold/*.csv
!**/gold/*.vtk
!**/gold/*.vtu
!**/gold/*.pvtu

# Don't include doc/js or doc/css, these are copied from MOOSE
doc/js/*
doc/css/*

# Ignore generated documentation
*.moose.md
*.moose.yml
*.moose.svg
site

# Doxygen
doc/doxygen/html

# Allow images in media directory
!docs/media/*.png
