Content:
    - doc/content
    - ${MOOSE_DIR}/framework/doc/content
    - ${MOOSE_DIR}/modules/contact/doc/content
    - ${MOOSE_DIR}/modules/solid_mechanics/doc/content
    - ${MOOSE_DIR}/modules/stochastic_tools/doc/content
    - ${MOOSE_DIR}/modules/tensor_mechanics/doc/content
    - moose:
        root_dir: ${MOOSE_DIR}/modules/doc/content
        content:
            - getting_started/**
            - help/development/**
            - media/**
            - templates/**
            - bib/**

Renderer:
    type: MooseDocs.base.MaterializeRenderer

Extensions:
    MooseDocs.extensions.navigation:
        name: MASTODON
        repo: https://github.com/idaholab/mastodon
        home: https://www.mooseframework.org/mastodon
        menu:
            Getting Started:
                MacOS (Mojave): getting_started/macos_mojave.md
                MacOS (Other): getting_started/macos_other.md
                Ubuntu: installation/ubuntu.md
                Running MASTODON: getting_started/running_mastodon.md
            Examples: examples/index.md
            Manuals:
                Theory: manuals/theory/index.md
                Software Quality: /sqa/index.md
                User: manuals/user/index.md
                Developer: manuals/developer/index.md
            News: news/index.md
            Docs:
                Syntax: syntax/index.md
            Help:
                FAQ: help/faq.md
                Contact: help/contact_us.md

    MooseDocs.extensions.appsyntax:
        executable: ${ROOT_DIR}
        hide:
            framework: !include ${MOOSE_DIR}/framework/doc/hidden.yml
            contact: !include ${MOOSE_DIR}/modules/contact/doc/hidden.yml
            #solid_mechanics: !include modules/solid_mechanics/doc/hidden.yml
            #stochastic_tools: !include modules/stochastic_tools/doc/hidden.yml
            tensor_mechanics: !include ${MOOSE_DIR}/modules/tensor_mechanics/doc/hidden.yml
        remove:
            framework: !include ${MOOSE_DIR}/framework/doc/remove.yml
            #contact: !include modules/contact/doc/remove.yml
            solid_mechanics: !include ${MOOSE_DIR}/modules/solid_mechanics/doc/remove.yml
            stochastic_tools: !include ${MOOSE_DIR}/modules/stochastic_tools/doc/remove.yml
            #tensor_mechanics: !include modules/tensor_mechanics/doc/remove.yml
        includes:
            - include
            - ${MOOSE_DIR}/framework/include
            - ${MOOSE_DIR}/modules/contact/include
            - ${MOOSE_DIR}/modules/solid_mechanics/include
            - ${MOOSE_DIR}/modules/stochastic_tools/include
            - ${MOOSE_DIR}/modules/tensor_mechanics/include

    MooseDocs.extensions.common:
        shortcuts: !include ${MOOSE_DIR}/framework/doc/globals.yml

    MooseDocs.extensions.acronym:
        acronyms: !include ${MOOSE_DIR}/framework/doc/acronyms.yml

    MooseDocs.extensions.template:
        active: True

    MooseDocs.extensions.sqa:
        active: True
        repo: idaholab/mastodon
        categories:
            mastodon:
                specs:
                    - tests
                directories:
                    - ${ROOT_DIR}/test/tests
            framework: !include ${MOOSE_DIR}/framework/doc/sqa_framework.yml
            tensor_mechanics: !include ${MOOSE_DIR}/modules/tensor_mechanics/doc/sqa_tensor_mechanics.yml
            stochastic_tools: !include ${MOOSE_DIR}/modules/stochastic_tools/doc/sqa_stochastic_tools.yml
            contact: !include ${MOOSE_DIR}/modules/contact/doc/sqa_contact.yml

        requirement-groups:
            dgkernels: DGKernel Objects
            interfacekernels: InterfaceKernel Objects
