Content:
    - doc/content
    - ${MOOSE_DIR}/framework/doc/content
    - ${MOOSE_DIR}/python/doc/content
    - ${MOOSE_DIR}/modules/contact/doc/content
    - ${MOOSE_DIR}/modules/fluid_properties/doc/content
    - ${MOOSE_DIR}/modules/fsi/doc/content
    - ${MOOSE_DIR}/modules/heat_conduction/doc/content
    - ${MOOSE_DIR}/modules/misc/doc/content
    - ${MOOSE_DIR}/modules/navier_stokes/doc/content
    - ${MOOSE_DIR}/modules/ray_tracing/doc/content
    - ${MOOSE_DIR}/modules/stochastic_tools/doc/content
    - ${MOOSE_DIR}/modules/tensor_mechanics/doc/content
    - ${MOOSE_DIR}/modules/xfem/doc/content
    - ${BLACKBEAR_DIR}/doc/content
    - moose:
        root_dir: ${MOOSE_DIR}/modules/doc/content
        content:
            - getting_started/installation/install_conda_moose.md
            - getting_started/installation/install_miniconda.md
            - getting_started/installation/uninstall_conda.md
            - getting_started/installation/wsl.md
            - framework_development/git.md
            - help/development/**
            - help/finite_element_concepts/nodal_patch_recovery.md
            - media/**
            - templates/**
            - bib/**

Renderer:
    type: MooseDocs.base.MaterializeRenderer

Extensions:
    MooseDocs.extensions.navigation:
        name: MASTODON
        repo: https://github.com/idaholab/mastodon
        google-cse: 000781241768298771085:vnudcgneeya
        menu:
            Getting Started:
                Installation: getting_started/installation.md
                Running MASTODON: getting_started/running_mastodon.md
                Tutorial: tutorial/tutorial.md
            Documentation: documentation.menu.md
            SQA: /sqa/index.md
            News: news/index.md
            Help:
                FAQ: help/faq/index.md
                Contact: help/contact_us.md

    MooseDocs.extensions.appsyntax:
        executable: ${ROOT_DIR}
        remove:
            framework: !include ${MOOSE_DIR}/framework/doc/remove.yml
            stochastic_tools: !include ${MOOSE_DIR}/modules/stochastic_tools/doc/remove.yml
        includes:
            - include
            - ${MOOSE_DIR}/framework/include
            - ${MOOSE_DIR}/modules/contact/include
            - ${MOOSE_DIR}/modules/fluid_properties/include
            - ${MOOSE_DIR}/modules/fsi/include
            - ${MOOSE_DIR}/modules/heat_conduction/include
            - ${MOOSE_DIR}/modules/misc/include
            - ${MOOSE_DIR}/modules/navier_stokes/include
            - ${MOOSE_DIR}/modules/ray_tracing/include
            - ${MOOSE_DIR}/modules/stochastic_tools/include
            - ${MOOSE_DIR}/modules/tensor_mechanics/include
            - ${MOOSE_DIR}/modules/xfem/include

    MooseDocs.extensions.common:
        shortcuts: !include ${MOOSE_DIR}/framework/doc/globals.yml

    MooseDocs.extensions.acronym:
        acronyms: !include ${MOOSE_DIR}/framework/doc/acronyms.yml

    MooseDocs.extensions.template:
        active: True

    MooseDocs.extensions.bibtex:
        duplicates:
            - hales15homogenization

    MooseDocs.extensions.sqa:
        active: True
        repos:
             default: https://github.com/idaholab/mastodon
        reports: !include ${ROOT_DIR}/doc/sqa_reports.yml
        categories:
            mastodon: !include ${ROOT_DIR}/doc/sqa_mastodon.yml
            blackbear: !include ${BLACKBEAR_DIR}/doc/sqa_blackbear.yml
            framework: !include ${MOOSE_DIR}/framework/doc/sqa_framework.yml
            contact: !include ${MOOSE_DIR}/modules/contact/doc/sqa_contact.yml
            fluid_properties: !include ${MOOSE_DIR}/modules/fluid_properties/doc/sqa_fluid_properties.yml
            fsi: !include ${MOOSE_DIR}/modules/fsi/doc/sqa_fsi.yml
            heat_conduction: !include ${MOOSE_DIR}/modules/heat_conduction/doc/sqa_heat_conduction.yml
            misc: !include ${MOOSE_DIR}/modules/misc/doc/sqa_misc.yml
            navier_stokes: !include ${MOOSE_DIR}/modules/navier_stokes/doc/sqa_navier_stokes.yml
            ray_tracing: !include ${MOOSE_DIR}/modules/ray_tracing/doc/sqa_ray_tracing.yml
            stochastic_tools: !include ${MOOSE_DIR}/modules/stochastic_tools/doc/sqa_stochastic_tools.yml
            tensor_mechanics: !include ${MOOSE_DIR}/modules/tensor_mechanics/doc/sqa_tensor_mechanics.yml
            xfem: !include ${MOOSE_DIR}/modules/xfem/doc/sqa_xfem.yml

        requirement-groups:
            dgkernels: DGKernel Objects
            interfacekernels: InterfaceKernel Objects
