# Analytical Verification of The I-Soil Constitutive Model

!include intro.md

!include problem_statement.md

!include user_defined.md

!include darendeli.md

!include gqh.md

!include pressure_dependency.md

!bibtex bibliography
