# Analytical Verification of The I-Soil Constitutive Model

!include v_and_v/materials/isoil/intro.md

!include v_and_v/materials/isoil/problem_statement.md

!include v_and_v/materials/isoil/user_defined.md

!include v_and_v/materials/isoil/darendeli.md

!include v_and_v/materials/isoil/gqh.md

!include v_and_v/materials/isoil/pressure_dependency.md

!bibtex bibliography
